#banner {
    border-right: 30px solid #ef5ba1;
    display: flex;
    background-color: #070D4A;
    background-position: left 60px top;
    height: 100px;
    font-family: Open Sans, sans-serif;
    color: white;
 }